<div class="page-header">
    <div class="header">
        <h1>Students ....</h1>
    </div>
</div>

<div class="container">
    <div class="row mt">
        <div class="col-xs-12 end-xs">
            <input type="text" (keyup)="filterStudents()" [(ngModel)]="filterString" class="search-input"
                placeholder="search student " />
        </div>
    </div>

    <div class="mt mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="">

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> first Name </th>
                <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> last Name </th>
                <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="dateOfBirth">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> date Of Birth </th>
                <td mat-cell *matCellDef="let element"> {{element.dateOfBirth | date:'dd-MM-yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>


            <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
            </ng-container>


            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> gender </th>
                <td mat-cell *matCellDef="let element"> {{element.gender.description}} </td>
            </ng-container>

            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
                <td mat-cell *matCellDef="let element">
                    <!-- <a [routerLink]="['/students/{{element.id}}']">
                        <mat-icon color="primary"> edit </mat-icon>
                    </a> -->

                    <a [routerLink]="['students/', element.id]">
                        <mat-icon color="primary"> edit </mat-icon>
                    </a>

                    

                    <router-outlet></router-outlet>

                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>
</div>